@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideX {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: translateY(-60px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes rainbow {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: yellow;
    }

    42% {
        color: green;
    }

    57% {
        color: blue;
    }

    71% {
        color: indigo;
    }

    85% {
        color: violet;
    }

    100% {
        color: red;
    }
}

@keyframes rainbow-flow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -200% 50%;
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    15% {
        background-position: 80% 20%;
    }

    30% {
        background-position: 30% 80%;
    }

    45% {
        background-position: 90% 40%;
    }

    60% {
        background-position: 10% 60%;
    }

    75% {
        background-position: 60% 90%;
    }

    90% {
        background-position: 40% 10%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes animateBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}


.header {
    animation: animateBg 7s linear infinite;
    background-image: linear-gradient(90deg, #a63dd6, #e222c9, #d32783, #e04242, #a63dd6, #e222c9);
    background-size: 500% 100%;
    height: 100vh;
    padding: 48px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.titleText {
    text-align: left;
    color: whitesmoke;
    font-weight: 900;
    font-size: 48px;
}

.h1 {
    animation: fadeSlide 1s ease-out forwards;
    font-size: 90px;
    margin-top: -10px;
    margin-bottom: -30px;
}

.h2 {
    font-size: 28px;
    font-weight: 200;
    opacity: 0;
    animation: scaleUp 2s ease-in-out 0s forwards;
}

.h3 {
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(40, end) 1s forwards;
}

.listItem {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    padding-bottom: 15px;
    opacity: 0;
    animation: fadeSlideX 0.4s ease-out forwards;
}

.listIcon {
    width: 60px;
    background-color: rgba(245, 245, 245, 0.821);
    padding: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

.listItem:nth-child(1) {
    animation-delay: 0.5s;
}

.listItem:nth-child(2) {
    animation-delay: 0.7s;
}

.listItem:nth-child(3) {
    animation-delay: 1s;
}